.ant-picker {
  height: 3.5rem;
  .ant-picker-input > input {
    font-size: 1.4rem;
  }
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
  color: var(--primary);
  background: var(--white);
  font-weight: 600;
}
