.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector::after,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-item,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-placeholder {
  line-height: 3.3rem;
}

.ant-select-selection-placeholder,
.ant-select-selection-item {
  font-size: 1.4rem;
  line-height: 3.3rem;
  height: 3.3rem;
  color: var(--text-primary);
}

.ant-select-focused .ant-select-selection-placeholder {
  color: var(--text-primary);
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: var(--text-primary);
}

.ant-select-selector {
  height: 3.5rem !important;
  align-items: center;
}

.ant-select-multiple .ant-select-selector {
  height: auto !important;
  align-items: center;
}
.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: transparent !important; 
}

.ant-select.ant-select-in-form-item {
  border: none !important;
}
.ant-form-item .ant-input-group-wrapper {
  border: none !important;
}
